-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
   <!---<link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Articles</title>
    <style>
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
  </style>
</head>
<body>
    <nav class="navbar navbar-inverse" >
        <div class = "container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                    <span class="icon-bar"></span>
                </button>
               
                <a class="navbar-brand" href="#">Article</a>
               
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class=><a href="#">Write your Story</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">Donate</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        People Articles  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-100</a></li>
                        <li><a href="#">Page 101-200</a></li>
                        <li><a href="#">Page 201-... </a></li>
                    </ul>
                    </li>
                  </ul>
                  
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span ></span> Login/Register</a></li>
                  </ul>
                  <form class="navbar-form navbar-right" role="search">
                    <div class="form-group input-group">
                      <input type="text" class="form-control" placeholder="Search Articles">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>        
                    </div>
                  </form>
        </div>
        </div>
    </nav>
    <div class="container text-center">    
      <div class="row">
        <div class="col-sm-3 well">
          <div class="well">
            <h4><a href="#">My Article</a></h4>
            <img src="" class="img-circle" height="200" width="150" alt="pics"><br>
            <p>THkkjodn vjojpjojwo0f4jfe jjuu8r89ur  nknkocioh89fyqgjewpou09u ju8u80u90u0 wji8u89jopqwjgr huiju89uejaojv0vf </p>
            
            <ul class="list-inline">
            <li> <a class="label label-default" href="#">Edit</a> </li>
          <!--  <li>  <a class="label label-warning" href="#">Author</a> </li> -->
           <li> <a class="label label-primary" href="#">Share</a> </li>
              <li class="dropdown" > <a class="label label-danger"  class="dropdown-toggle" data-toggle="dropdown"href="#">Delete</a> 
                <ul class="dropdown-menu">
                  <li><a href="#">No</a></li>
                  <li><a href="#">Yes</a></li>
                </ul>
              </li>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button> 
            </ul>
              <form >
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Write your comment...">
                </div>
                </form>    
          </div>
          <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p><strong>Ey!</strong></p>
            People are reading at your Article. Find out who.
          </div>
          <p><a href="#">Twitter</a></p>
          <p><a href="#">Facebook</a></p>
          <p><a href="#">Instagram</a></p>
        </div>
        <div class="col-sm-7">
         <!-- <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default text-left">
                <div class="panel-body">
                  <p contenteditable="true">Status: Feeling Blue</p>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                  </button>     
                </div>
              </div>
            </div>
          </div> -->
          
          <div class="row">
            
            <div class="col-sm-9">
              <div class="well">
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                <div id="collapse" style="display:none">
                  <p>Sed eleifend lectus id semper accumsan. Sed lobortis id ligula eget blandit. Integer interdum iaculis nunc, sed porttitor magna tincidunt in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam lobortis accumsan tempor. Aliquam sollicitudin pulvinar est, quis convallis tellus.</p>
              </div>
              <a href="#collapse" class="nav-toggle">Read More</a>
              </div>
            </div>
          </div>
          <div class="row">
           
            <div class="col-sm-9">
              <div class="well">
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <div class="well">
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
             
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <div class="well">
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
              </div>
            </div>
          </div>     
        </div>
        <div class="col-sm-2 well">
          <div class="thumbnail">
            <p>Upcoming Events:</p>
            <img src="paris.jpg" alt="" width="400" height="300">
            <p><strong>Paris</strong></p>
            <p>Fri. 30 October 2020</p>
            <button class="btn btn-primary">Info</button>
          </div>      
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>
        </div>

 <footer class="container-fluid text-center">
    &copy; Copyright JumboPere <a href="https://www.github.com/jumbopere">github</a> | <a href="https://twitter.com/jumbopere">twitter</a>
 
     <script>
       $(document).ready(function () {
    $('.nav-toggle', ).click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            } else {
                toggle_switch.html('Read Less');
            }
        });
    });

});
     </script>
 
</body> 
</html>
   